
<!--  <section class="title-row">-->
<!--    <h1>home:</h1>-->
<!--  </section>-->
<!--  <button class="button button-def" routerLink="/work/add"><span></span> add workspace</button>-->

<div class="container-def">
<section class="tasks-row">
  <div class="section-title">
    <h3 class="title"> my tasks</h3>
    <span class="line"></span>
  </div>
  <div class="content-row">
    <mat-card class="each-card">
      <mat-card-content>
        <div class="text-container">
          <p>
           task title
          </p>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-footer>
        <span>Workspace Name</span>
        <span>Board Name : ListName</span>
      </mat-card-footer>
    </mat-card>
    <mat-card class="each-card">
      <mat-card-content>
        <div class="text-container">
          <p>
            make workspace add/redaction
          </p>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-footer>
        <span>first Workspace</span>
        <span>This ProjectBoard : ToDo</span>
      </mat-card-footer>
    </mat-card>
  </div>
</section>

<section class="tasks-row">
  <div class="section-title">
    <h3 class="title" routerLink="/work/list">Workspaces</h3>
    <span class="line"></span>
    <div class="button-container">
      <button mat-stroked-button color="primary" routerLink="/work/add"> <mat-icon>add</mat-icon> add Workspace</button>
    </div>
  </div>
  <div class="content-list">
    <ng-container *ngIf="loading; else loaded">
      <div class="loader-container">
        <mat-progress-spinner
          [color]="color"
          [mode]="mode">
        </mat-progress-spinner>
      </div>
    </ng-container>
    <ng-template #loaded>

      <div class="button-container message" *ngIf="getWorkspacesForMyUser.length == 0">
        <p> there are no workspaces </p>
        <button mat-stroked-button color="primary" routerLink="/work/add"> add Workspace</button>
      </div>
      <div class="each-workspace" *ngFor="let eachWork of getWorkspacesForMyUser" >
        <div class="workspace-title-row">
          <h3 class="title" [routerLink]="['/work/inner', eachWork.id]">
            <span class="first-letter" style="background: {{ eachWork.color }}">
             <span > {{ getFirstLetter(eachWork.name) }}</span>
            </span>
            {{eachWork.name}}
          </h3>
          <span class="line"></span>
          <div class="button-container">
            <button mat-stroked-button color="primary"> Members</button>
            <button mat-stroked-button color="primary" [routerLink]="['/work/inner', eachWork.id]"> Settings</button>
          </div>
        </div>
        <div class="workspace-content-row">
          <mat-card>
            <mat-card-content>
              <button mat-stroked-button color="primary"> + add board</button>
            </mat-card-content>
          </mat-card>
          <mat-card *ngFor="let eachBoard of boards" >
            <mat-card-content> {{eachBoard.name}}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </div>
</section>
</div>
<!--ႱႠႪႭႫႤ   ႱႠႪႨႥႠႬ-->





