<mat-sidenav-container #innerSidenav class="sidenav" >
  <mat-sidenav mode="side" #innerToggable class="start-content" opened="true" position="start">
    <div class="sidebar-container">
      <div class="sidebar-header">
        <h2 class="title">{{ workspace?.name}}</h2>
      </div>
      <ul class="sidebar-menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]={exact:true} [routerLink]="['/work/inner', workspace.id]"><span>project</span></li>
        <li routerLinkActive="active" [routerLink]="['/work/inner', workspace.id, 'board']"><span >Boards</span></li>
        <li routerLinkActive="active"><span routerLink="/members">Members</span></li>
        <li routerLinkActive="active"><span routerLink="/types">Types</span></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-content" >
    <button mat-button (click)="innerToggable.toggle()"> settings</button>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>





