<ng-container *ngIf="loading; else loaded">
  <div class="loader-container">
    <mat-progress-spinner
      [color]="color"
      [mode]="mode">
    </mat-progress-spinner>
  </div>
</ng-container>
<ng-template #loaded>
<mat-sidenav-container #innerSidenav class="sidenav" >
  <mat-sidenav mode="side" #innerToggable class="start-content" opened="true" position="start">

    <div class="sidebar-container">
      <div class="sidebar-header">
        <h2 class="title">{{ workspace['name']}}</h2>
      </div>
      <ul class="sidebar-menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]={exact:true} [routerLink]="['/work/inner', workspace.id]"><span>project</span></li>
        <li routerLinkActive="active" [routerLink]="['/work/inner', workspace.id, 'board']"><span >Boards</span></li>
        <li routerLinkActive="active" [routerLink]="['/work/inner', workspace.id, 'types/add']"><span>Issue Types</span></li>
        <li routerLinkActive="active" [routerLink]="['/work/inner', workspace.id, 'users']"><span >Members</span></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-content" >
    <button mat-button (click)="innerToggable.toggle()"> settings</button>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</ng-template>





